footer {
    background-color: var(--cor-fundo-header-footer);
}

.contato {
    text-align: center;
}

.contato-title {
    font-size: 1.6rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.contato_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 8px;
    width: 80%;
    padding: 1rem;
    margin-top: 15px;
}

textarea {
    border-radius: 8px;
    padding: 1rem;
    width: 90%;
}

::placeholder {
    color: #6E7275;
}

textarea {
    margin-top: 1rem;
    width:80%;
}

.btn-enviar {
    margin: 2rem 0;
    background-color: var(--cor-fundo-botao);
    color: var(--cor-branco);
    border-radius: 5px;
    width: 90%;
    height: 3rem;
}

@media screen and (max-width: 600px) {
    .btn-enviar{
        width: 87%;
    }
}

@media screen and (min-width: 600px ){
  .contato{
      width:50%;
      margin-left:auto;
      margin-right: auto;
  }
  .btn-enviar{
      width: 85%;
  }
    
}